<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="../paginas/img/b.ico"  rel="shortcut icon" type="image/x-icon">
    <title>MENU</title>
</head>
<body>
    <div>
        <div class="titulo">
            <center><h1>Be Your Best</h1></center>
        </div>
        <div class="imagem">
            <span class = "circle-image">
                <img src = "../paginas/img/pessoa.jpg"/>
            </span>
        </div>
        <div class="tabela_nav">
            <ul class="lista-de-itens">
                <li class="item"></li>
                <li class="item"><a href="perfil.html">Perfil</a></li>
                <li class="item"><a href="nutricionistas.html">Nutricionistas</a></li>
                <li class="item"><a href="personais.html">Personal trainers</a></li>
                <li class="item"><a href= "usuarios.html">Usuários</a></li>
                <li class="item"><a href="chat.html">  Chat</a></li>
                <li class="item"><a href="quemsomos.html">  Quem somos</a></li>
                <li class="item"></li>
            </ul>
        </div>
        <footer>
            <p>Projeto Integrador - Desenvolvimento Web</p>
        </footer>
    </div>
</body>
</html>