<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="../paginas/img/b.ico"  rel="shortcut icon" type="image/x-icon">
    <title>Perfil do Usuário</title>
</head>
<body>
    <div class="header">
        <center><h1>Be Your Best</h1></center>
    </div>
    <div class="nav">
        <ul class="lista-nav">
            <li class="item-nav"><a href="menu.html">Menu</a></li>
            <li class="item-nav"><a href="nutricionistas.html">Nutricionistas</a></li>
            <li class="item-nav"><a href="personais.html">Personal trainers</a></li>
            <li class="item-nav"><a href= "usuarios.html">Usuários</a></li>
            <li class="item-nav"><a href="chat.html">  Chat</a></li>
            <li class="item-nav"><a href="quemsomos.html">  Quem somos</a></li>
        </ul>
    </div>
    <div class="white-box">
        <div clas="container-perfil">
            <div class="container-perfil-a">
                <div class ="img-perfil">
                        <span class = "circle-image">
                            <img src = "../paginas/img/pessoa.jpg"/>
                        </span>
                </div>
                <div class="container-perfil-b">
                    <div class="container-perfil-c">
                        <div class="nome-perfil">
                            Nome:
                            <input></input>
                        </div>
                        <div class="edit-perfil">
                            <button class="edit-perfil-a">Editar</button>
                        </div>
                    </div>
                    <div class="container-perfil-c">
                        <div class="prof-perfil">
                            Profissão:
                            <input></input>
                        </div>
                        <div class="edit-perfil-b">
                            <button class="edit-perfil">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-perfil-b">
                <div class="container-perfil-c">
                    <div class="nome-perfil">
                        Email:
                        <input></input>
                    </div>
                    <div class="edit-perfil">
                        <button class="edit-perfil-a">Editar</button>
                    </div>
                </div>
                <div class="container-perfil-c">
                    <div class="prof-perfil">
                        Telefone:
                        <input></input>
                    </div>
                    <div class="edit-perfil-b">
                        <button class="edit-perfil">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <footer>
            <p>Projeto Integrador - Desenvolvimento Web</p>
        </footer>
    </div>
</body>
</html>