<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="../paginas/img/b.ico"  rel="shortcut icon" type="image/x-icon">
    <title>Quem Somos</title>
</head>
<body>
    <div class="header">
        <center><h1>Be Your Best</h1></center>
    </div>
    <div class="nav">
        <ul class="lista-nav">
            <li class="item-nav"><a href="menu.html">Menu</a></li>
            <li class="item-nav"><a href="perfil.html">Perfil</a></li>
            <li class="item-nav"><a href="nutricionistas.html">Nutricionistas</a></li>
            <li class="item-nav"><a href="personais.html">Personal trainers</a></li>
            <li class="item-nav"><a href= "usuarios.html">Usuários</a></li>
            <li class="item-nav"><a href="chat.html">  Chat</a></li>
        </ul>
    </div>
    <div class = "white-box-qm">
    <center><h2>QUEM SOMOS</h2>
    <p class="p_text"> Somos uma empresa de desenvolvimento web, e queremos torna mais fácil e prático o retorno as atividades físicas e o controle da vida saúdavel.</p>
    <br>
    <p class="p_text"> Com o Be Your Best crie amigos e encontre profissionais que podem te ajudar nessa nova jornada com seu planejamento de atividades físicas.</p>
    </center>
    </div>
    <div>
        <footer>
            <p>Projeto Integrador - Desenvolvimento Web</p>
        </footer>
    </div>
</body>
</html>