<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="../paginas/img/b.ico"  rel="shortcut icon" type="image/x-icon">
    <title>Usuários</title>
</head>
<body>
    <div class="header">
        <center><h1>Be Your Best</h1></center>
    </div>
    <div class="nav">
        <ul class="lista-nav">
            <li class="item-nav"><a href="menu.html">Menu</a></li>
            <li class="item-nav"><a href="perfil.html">Perfil</a></li>
            <li class="item-nav"><a href="nutricionistas.html">Nutricionistas</a></li>
            <li class="item-nav"><a href="personais.html">Personal trainers</a></li>
            <li class="item-nav"><a href="chat.html">  Chat</a></li>
            <li class="item-nav"><a href="quemsomos.html">  Quem somos</a></li>
        </ul>
    </div>
    <div class = "white-box">
        <table class="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Conversar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lucas Tadeu</td>
                    <td>(11)95697-4658</td>
                    <td>lucas.tadeu@gmail.com</td>
                    <td>
                        <button type="button">Chat</button>
                    </td>
                </tr>
                <tr>
                    <td>Alberto Fonseca</td>
                    <td>(11)93546-5416</td>
                    <td>alberto.fonseca@gmail.com</td>
                    <td>
                        <button type="button">Chat</button>
                    </td>
                </tr>
                <tr>
                    <td>Aline Chavier</td>
                    <td>(11)96767-5612</td>
                    <td>aline.chavier@gmail.com</td>
                    <td>
                        <button type="button">Chat</button>
                    </td>
                </tr>
                <tr>
                    <td>Bruna Alencar</td>
                    <td>(11)93564-6485</td>
                    <td>bruna.alencar@gmail.com</td>
                    <td>
                        <button type="button">Chat</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <footer>
            <p>Projeto Integrador - Desenvolvimento Web</p>
        </footer>
    </div>
</body>
</html>